.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dbe2f0;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  height: 47%;
}

.card:hover {
  cursor: pointer;
  background-color: #fff;
}

.photoContainer {
  display: flex;
  justify-content: center;
}

.photo {
  border-radius: 70px;
  width: 7em;
  height: 7em;
}

/* .photo:hover {
  border: 2px solid #8f3fce;
} */

.employeeInfo {
  padding-top: 15%;
}

.name {
  text-align: center;
}
.employeeName {
  font-weight: bold;
  color: #0b70db;
}

.jobDetails {
  padding-top: 10px;
  text-align: center;
  font-size: small;
}
