.carouselContainer {
  display: flex;
  background-color: red;
}

.newHireCarousel {
  display: flex;
  background-color: yellow;
}

.newHirePage {
  display: flex;
  justify-content: space-between;
  background-color: green;
}
