.nav {
  display: flex;
  padding: 20px;
  background-color: #f9fafb;
  width: 100%;
  list-style-type: none;
  justify-content: flex-end;
  margin-bottom: 0px;
}

.linkList {
  display: flex;
  flex-direction: row;
}

.link {
  padding: 16px;
  text-decoration: none;
  background-color: #f9fafb;
}
