.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9fafb;
}

.leftLinks {
  width: 70%;
}
.rightLinks {
  display: inline-flex;
  width: 30%;

  justify-content: space-between;
}
