.divisionTabs {
  padding: 100px 125px;
  background-color: #f9fafb;
}

.allEmployeesHeader {
  text-align: center;
  background-color: #f9fafb;
  margin: 0;
}

.navLink {
  display: flex;
  justify-content: space-between;
  color: #0b70db;
  letter-spacing: -1px;
}

.tabPane {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  overflow: scroll;
  height: 600px;
  margin: 0;
}

.active {
  background-color: #0d6efd;
  color: #fff;
}

.hideTabContent {
  display: none;
}

.override {
  white-space: normal !important;
  color: #0b70db;
  letter-spacing: -1px;
}

@media screen and (max-width: 1500px) {
  .override,
  .navLink {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 968px) {
  .override,
  .navLink {
    font-size: 0.8em;
  }
}
