.divisionTabs {
  padding: 150px 125px;
  background-color: #f9fafb;
}

.allEmployeesHeader {
  text-align: center;
  background-color: #f9fafb;
  margin: 0;
}

.navLink {
  display: flex;
  justify-content: space-between;
}

.tabPane {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* row-gap column gap */
}

.active {
  background-color: #0d6efd;
}
