.divisionTabs {
  padding: 125px;
}

.tabContent {
  /* display: flex; */
}

.tabPane {
  /* align-items: flex-end; */
  display: flex;
  flex-wrap: wrap;
}

.navLink {
  display: flex;
  justify-content: space-between;
}
