.searchContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 10%;
  padding-bottom: 50px;
  background-color: #f9fafb;
  width: 100%;
}

.searchBar {
  border-radius: 3px;
  border: 1px solid #dbe2f0;
  font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;
  text-align: left;
  font-size: 15px;
  padding: 5px;
  width: 10em;
}

.searchBar:focus {
  box-shadow: 0 0 0 0.125rem #0f59aa;
  outline: none;
}

.tabPane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
  background-color: #f9fafb;
}
