.searchContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 75px;
  padding-bottom: 100px;
}

.tabPane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
}
