.searchContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 75px;
  padding-bottom: 100px;
  background-color: #f9fafb;
}

.searchBar {
  border-color: #0b70db;
  border-radius: 3px;
  border: 1px solid #dbe2f0;
  font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;
  text-align: left;
  font-size: 11px;
  padding: 5px;
}

.tabPane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
  background-color: #f9fafb;
}
