.modalBackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  background-color: #fff;
  border: 1px solid #dbe2f0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

.modalHeader,
.modalFooter {
  padding: 10px;
}

.modalLeftPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.employeePhotoContainer {
  display: flex;
  justify-content: center;
}

.employeePhoto {
  border-radius: 70px;
  width: 7em;
  height: 7em;
}

.modalRightPanel {
  display: flex;
  /* justify-content: space-between; */
  /* width: 65%; */
  align-items: center;
  min-width: fit-content;
  padding: 15px;
}

.leftPanelItemsContainer,
.rightPanelItemsContainer {
  display: flex;
  flex-direction: column;
}

.employeeInfo {
  text-align: left;
  overflow-wrap: break-word;
  max-width: 350px;
}

.employeeInfoText {
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.employeeLinks {
  padding-top: 11px;
  font-size: small;
  font-style: italic;
  text-align: center;
}
.employeeBioText {
  padding: 0 15px 0 15px;
  margin-bottom: 0;
  padding: 20px 0 20px 0;
  font-size: small;
  overflow-wrap: anywhere;
}

.hashtags {
  border-bottom: 1px solid #eee;
  display: flex;
}

.hashtagsText {
  font-size: small;
}

.buttonContainer {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 10px;
}

.button {
  display: flex;
  background-color: #0b70db;
  font-size: 0.875rem;
  padding: 0.3rem;
  border: none;
  color: white;
  border-radius: 3px;
}
