.modalBackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  background-color: #fff;
  border: 1px solid #dbe2f0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: fit-content;
}

.modalHeader,
.modalFooter {
  padding: 10px;
}

.leftPanelItemsContainer,
.rightPanelItemsContainer {
  display: flex;
  flex-direction: column;
}

.modalLeftPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.employeePhotoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.employeePhoto {
  border-radius: 70px;
  width: 7em;
  height: 7em;
  border: 2px solid #8f3fce;
}

.modalRightPanel {
  display: flex;
  align-items: center;
  min-width: fit-content;
}

.employeeInfo {
  text-align: left;
  overflow-wrap: break-word;
  max-width: 350px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.employeeInfoText {
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.socialLinks {
  padding-top: 15px;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.socialIcons {
  padding-right: 7px;
}

.employeeBio {
  padding-right: 50px;
  padding-left: 50px;
}

.employeeBioText {
  padding: 50px 15px 50px 15px;
  margin-bottom: 0;
  padding: 20px 0 20px 0;
  font-size: small;
  max-width: 50%;
}

.hashtags {
  border-bottom: 1px solid #eee;
  display: flex;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

.hashtagsText {
  font-size: small;
}

.xIcon {
  display: flex;
  justify-content: right;
  padding-top: 15px;
  padding-right: 25px;
}
