.test {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.test2 {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  text-align: center;
  color: white;
  font-size: 20px;
  /* position: absolute; */
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}

.level2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  left: 650px;
  margin-top: 25px;
}
.level1 {
  height: 180px;
  width: 130px;
  line-height: 180px;
  background-color: #6796e5;
  left: 500px;
  margin-top: 10px;
}
.level0 {
  height: 200px;
  width: 150px;
  line-height: 200px;
  background-color: #4ec9e1;
  left: 330px;
}
.level-1 {
  height: 180px;
  width: 130px;
  line-height: 180px;
  background-color: #6796e5;
  margin-top: 10px;
  left: 180px;
}
.level-2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  margin-top: 25px;
  left: 50px;
}
