.item {
  display: flex;
  color: white;
  font-size: 20px;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}

.level2 {
  height: 240px;
  width: 200px;
  /* line-height: 150px; */
  background-color: red;
  left: 650px;
  margin-top: 25px;
}
.level1 {
  height: 270px;
  width: 220px;
  /* line-height: 180px; */
  background-color: green;
  left: 500px;
  margin-top: 10px;
}
.level0 {
  height: 290px;
  width: 240px;
  /* line-height: 200px; */
  background-color: blue;
  left: 330px;
}
.level-1 {
  height: 270px;
  width: 220px;
  /* line-height: 180px; */
  background-color: purple;
  margin-top: 10px;
  left: 180px;
}
.level-2 {
  height: 240px;
  width: 200px;
  /* line-height: 150px; */
  background-color: orange;
  margin-top: 25px;
  left: 50px;
}
