.recentHiresBanner {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  padding: 125px;
}

.logo {
  display: flex;
  justify-content: center;
}

.pageDescription {
  text-align: center;
}

.heavyText {
  font-weight: bold;
}

.mutedText {
  font-style: italic;
}

.defaultContent {
}

.activeSearch {
  display: none;
}
