.recentHiresBanner {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  padding: 125px;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo:hover {
  cursor: pointer;
}

.pageDescription {
  text-align: center;
  background-color: #f9fafb;
}

.heavyText {
  font-weight: bold;
  margin-bottom: 0;
}

.mutedText {
  font-style: italic;
  margin: 0;
}

.activeSearch {
  display: none;
}

.signInContainer {
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
}
