.recentHiresBanner {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  padding: 125px;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
}

.pageDescription {
  text-align: center;
  background-color: #f9fafb;
}

.heavyText {
  font-weight: bold;
}

.mutedText {
  font-style: italic;
  margin: 0;
}

.signInContainer {
  display: flex;
  justify-content: center;
  background-color: #f9fafb;
}
